@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #00c1b5;
}

.header {
  font-family: "DM Serif Display", serif;
  overflow: hidden;
  margin-bottom: 100px;
}

.li,
.a {
  text-decoration: none;
  list-style: none;
  color: #000;
}

.bt {
  font-size: 1.5em;
}

.em {
  position: absolute;
  right: 15px;
  top: 15px;
}

.main {
  position: relative;
}

.book {
  width: 550px;
  height: 700px;
  background-color: #00c1b5;
  border: 0.5px solid #00c1b5;
  margin: auto;
  box-shadow: 1px 1px 10px #000;
  position: relative;
}

.border {
  width: 15px;
  height: 700px;
  border-right: 0.2px solid whitesmoke;
}

.h1 {
  font-family: "DM Serif Display", serif;
  font-size: 1.5em;
  position: absolute;
  top: 0px;
  left: 30px;
}

.span {
  font-size: 0.7em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.p {
  font-size: 0.9em;
  position: absolute;
  top: 50px;
  left: 30px;
  z-index: 10;
}

.p1 {
  font-family: "DM Serif Display", serif;
  font-size: 5em;
  color: #fff;
}

.good,
.desing,
.areh,
.prag,
.andh,
.idea,
.footer {
  position: absolute;
}

.good {
  top: 85px;
  left: 180px;
}

.desing {
  top: 150px;
  left: 110px;
}

.areh {
  top: 230px;
  left: 140px;
}

.prag {
  top: 300px;
  left: 110px;
}

.andh {
  bottom: 220px;
  left: 135px;
}

.idea {
  bottom: 140px;
  left: 110px;
}

.footer {
  color: #fff;
  bottom: 120px;
  left: 130px;
}

.circle {
  background-color: #000;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  position: absolute;
  top: 90px;
  right: -60px;
}

.s-div {
  display: block;
  color: white;
  text-align: center;
  padding-top: 50px;
}
